img {
  margin-left: -20px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.selected {
  border: 2px solid green;
  border-radius:7px;
  margin-bottom: 10px;
  max-width: inherit;
}

.bot-div {
  padding: 20px 20px 20px 40px;
}

.player-div {
  padding: 20px 20px 20px 40px;
}
