img {
  margin-left: -20px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.selected {
  border: 2px solid green;
  border-radius:7px;
  margin-bottom: 10px;
  max-width: inherit;
}

.bot-div {
  padding: 10px 10px 10px 30px;
  text-align: center;
  max-width: 300pt;
}

.player-div {
  padding: 10px 20px 10px 20px;
  text-align: center;
  /* This is good for when the console is open, if no console make it bigger */
  max-width: 500pt;

}

.button-div {
  text-align: center;
}

.request-button {
  background-color: #4CAF50; /* Green */
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  border: 2px solid #4CAF50;
  border-radius: 8px;
}

.request-button:hover {
  background-color: white;
  color: black;
}

.game-log {
  text-align: left;
  display: inline-block;
  position: fixed;
  left: 10px;
  bottom: 25%;
}
